@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

@keyframes flashing-rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

@keyframes flashing-rainbow-bg {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}

.rainbow {
  animation: flashing-rainbow 4s linear infinite;
}

.rainbow-bg {
  animation: flashing-rainbow-bg 4s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}